#header{
    border: 1px solid black;
display: flex;
cursor: pointer;
position: sticky;
z-index: 10;
top: 0;
left: 0;
justify-content:space-between;
align-items: center;
border-radius: 10px;;
background-color: lightgrey;
box-shadow: 0 5px 15px rgb(0, 0, 0,0.06);
}
a{
color:black; 
padding: 5px;
transition: transform 0.1s ease;
text-decoration: none;
list-style: none;
font-size: 20;
}
span{
    color:red;
}
  a:hover {
    background-color: blue;
    transform: scale(1.2);
    border-radius: 50px;
  } 
#navbar{
display: flex;
justify-content: space-evenly;
align-items: center;
text-decoration: none;
list-style: none;
}
#navbar li{
padding: 10px;
transition: transform 0.1s ease;
}
#navbar li:hover{
      transform: scale(1.2);
}
#navbar li a:hover{
    background-color: black;
    color: white;
    text-decoration: underline;
}
#hero{
width: 100%;
height: 100%;
cursor: pointer;
background-image: url(hasnin.jpg);
background-size: cover;
background-position: ceter;
border-radius: 20px;
color: white;
padding:5px;
}
h4{
  fo;
font-size: 23px;
margin-left: 120px;
}
h2{
  font-size: 40px;
  color: white;
  margin-left: 20px;
  
}
h1{
color:white;
font-size: 40px;
margin-left: 20px;
}
p{
  display: flex;
  justify-content: center;
border-radius: 5px;
font-size: 20px;
margin-left: 10px;
background: blue;
width: 400px;
}
button{
  background-color: brown;

margin-top: 100px;
margin-left: 70px;
width: 90px;
height: 45px;
border-bottom-left-radius: 10px;
border-top-right-radius:10px;
color: white;

transition:transform 0.1s ease  ;
font-size: 15px;
}
button:hover{
border: 2px solid white;
transform: scale(1.1);
text-decoration:underline;
}
#products{
  margin-top: 5px;
  display: flex;
  cursor: pointer;
position:relative;
border-radius: 10px;
justify-content: space-evenly;
height: 100%;
width: 100%;
border: 1px solid black;
}
#products .pro:hover{
  background-color:azure;
  transform: scale(1.1);
  cursor: pointer;
 
}
#products .pro{
  display: flex;
flex-direction: column;
transition:all 0.3s ease ;
align-items: center;
  height: 79%;
  background-color: lightgray;
  border-radius: 10px;
}
.pro img{
  border-radius: 5px;
width: 350px;
height: 250px;
 ;

}
#products .pro .des{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}

#banner{
  position: relative;
 
  color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background:black;
width: 100%;
height: 50%;
color: white;
transition:all 0.3s ease ;
border-radius: 10px;
}
#banner:hover{
  transform: scale(1);
  background-color:cadetblue;
   border: 1px solid black;
  border-radius: 20px;
 color: black;
  width: 100%;
}
#banner h4{
  border-bottom: double;
color: white;
margin-top: 20px;
 }
 #banner h2{
  color: white;
  position: absolute;
  border-bottom: 4px solid white;
 }
#banner span{
color: white;
}
.new{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
color:black;
}
.new p{
  background: white;
  font-size: 20px;
}

.contenor{
  padding:2px;
border: 1px solid black;
display: flex;
justify-content: space-between;
align-items:center;
background-color:bisque;
border-radius: 5px;


}
.contenor img{
width: 400px;:
height: 320px;
border-radius:10px;
}
.contenor .card{
  cursor: pointer;
  border: 1px solid black;
border-radius: 10px;
background-color: darkgray;
transition: 1s;
}
.url2{
text-decoration:none;
display: flex;
list-style: none;
margin-right: 20px;
border-bottom: 1px solid black;
width: 100px;
justify-content:space-evenly;
align-items: center;
padding-left: 10px;
}


.card:hover{
  transform: scale(1.1);
}
.card p1{
font-size: 20px;
margin-left: 5px;
text-decoration: line-through;
}
.card h3{
  margin-left: 5px;
  text-decoration: double line-through;
}
.section-p1{
  border-radius: 10px;
  width: 100%;
border: 1px solid black;
display: flex;
justify-content:space-between;
overflow: hidden;
}



.banner-box{
cursor: pointer;
border: 1px solid black;     
display: flex;
flex-direction:column;
justify-content:space-between;
width: 90%;
height: 48vh;
margin-left: 5px;
margin-right: 5px;
color: black;
border-radius: 5px;
background: linear-gradient(red,white,gray,yellow);
text-decoration: none;

color: black;
}


.section-p2{
  margin-top: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  background-color: beige;
  cursor: pointer;
  color: black;
border-radius: 10px;
}

.section-p2 .banner-box2{
background-size: cover;
border: 2px solid black;
width:45% ;
background-image: url(shafiq.jpg);
border-radius: 20px;
}
.section-p2 .banner-box2 span{
  color: black; 
  text-decoration:underline;
  margin-left: 20px;
}
.section-p2 #box3{
  background:linear-gradient(white,gray,yellow);
}
.section-p2 .button2{
  border: 2px solid black;
  background-color:white;
  color: black;
  width: 100px;
  margin-right: 300px;
  margin-top: 100px;
  
}
.section-p2 .banner-box2:hover .button2{
  background-color: aquamarine;
  text-decoration: underline;
  border: 1px solid black;
}


